* {
  font-family: "Roboto", sans-serif;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 50%;
  margin: 0 auto;
}

.card {
  border: 1px solid #ccc;
  padding: 15px;
  /* margin: 10px; */
  flex-grow: 1;
}
.card:hover {
  background-color: rgb(242, 242, 242);
  box-shadow: 2px 2px 4px #888;
}

.card-title {
  font-style: italic;
  font-weight: 600;
}
.card a {
  text-decoration: none;
  font-weight: 700;
  color: rgb(128, 128, 128);
}

.card h3 {
  margin-top: 0;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  float: right;
}

.delete-button:hover {
  background-color: #ca372d;
}
